@import url("https://fonts.googleapis.com/css2?family=Abel&family=Alfa+Slab+One&family=Anek+Gujarati&family=Raleway:ital,wght@0,400;1,300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Anek Gujarati", sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background: #d4f5f2;
}
.about .text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 80%;
  /* width: 100%; */
  padding: 20px;
}
.about .text h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* nav container  */
nav {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 40px;
  align-items: center;
}
nav .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-right: 80px; */
}
nav .navbar li {
  /* padding-left: 15px; */
  list-style: none;
}
nav .navbar li a {
  text-decoration: none;
  color: #025268;
  font-size: 2.5vmin;
  /* font-weight: 600; */
}
nav .navbar li:hover,
nav .navbar li a:hover {
  color: #025268;
  font-weight: 700;
  transform: scale(1.09);
}
nav header {
  color: #025268;
}
/* footer styling */
.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
}
@media (max-width: 450px) {
  .about .text {
    text-align: initial;
    max-width: 90%;
    /* width: 100%; */
    padding: 20px;
  }
}
